{% extends "main/manage.html" %}

{% block mainsection1 %} 
<div class="card"> 
    <h2>Manage Jobs</h2>
    <div class= 'crud_menu'>
        <form method="POST" >
            <input type="button" onclick= "location.href='/saef/job/add/';"  name="Operation" value="Add Job" />
            {% if jobs %}
                <ul>
                    {% for job in jobs %}
                        <li> <a href="/saef/job/{{job.id}}/">{{ job.name }}</a> </li>
                    {% endfor %}
                </ul>
            {% else %}    
                <p> There is no job added yet. </p>
            {% endif%}
        </form>
    </div>
</div>
{% endblock %}

