{% extends "saef/base.html" %}
{% load lists.summary %}
{% load charts.line_dataset %}
{% load charts.line_job %}
{% load charts.stackbar_application %}
{% block mainsection1 %} 
<div class="card">
  <h3> Start to analyze </h3>

  The following numbers of metadata are registered. 

  <div class="list-summary" >
    {% list_summary -1 -1 %}
  </div>

  <p><strong> Analyze Dataset </strong> execute an analysis on a dataset at its current state </p>

  <p><strong> Analyze Job </strong> execute an analysis on a job and its included dataset at all their current state </p>

  <p><strong> Analyze Application </strong> execute an analysis on an application and its included jobs and dataset at all their current state </p>

  <p><strong> Analyze Dataset History </strong> execute an analysis on the history of profiles on a dataset. Below is an example of Dataset Row Count History Chart. </p>
   <div>
    {% linechart_dataset 1 5 "row count" %}
  </div>
  
  <p><strong> Analyze Job History </strong> execute an analysis on the history of a job. Below is an example of Job Row Count History Chart. </p>
    <div>
    {% linechart_job 1 5 "row count" %}
  </div>

  <p><strong> Analyze Application History </strong> execute an analysis on the history of a dataset. Below is an example of Application Row Count History Chart. </p>
  <div>
    {% stackbar_application 2 5 "row count" %}
  </div>

</div>
{% endblock %}

{% block sidesection1 %} 
<div class="card"> 
  <h4> Choose to analyze </h4>
  <div class="vertical-menu">
    <a href="/analyzer/dataset">Dataset</a> <br>
    <a href="/analyzer/job">Job</a> <br>
    <a href="/analyzer/application">Application</a> <br>
    <a href="/analyzer/dataset_history" >Dataset History</a> <br>
    <a href="/analyzer/job_history">Job History</a> <br>
    <a href="/analyzer/application_history">Applicaiton History</a> <br>
  </div>
</div>
{% endblock %}