{% extends "analyzer/analyze.html" %}

{% block mainsection1 %} 
<div class="card">
  <H3> Execute Analyzer </H3>
  <form id="execute" action="" method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <p>
          <input type="submit" value="Run">
      </p>
      
  </form>
  {% if submitted %}
      <p class="success">
        Job was submitted successfully.
      </p>
      <div> <p> Status: <label id="lblstatus" > </label> </p> 
        <progress id="progress-bar" value="0" max="100" style="display:none; margin-bottom: 1em;"></progress>
        </div>

        {% if task_id %}
        <script type="text/javascript">
            var task_id = "{{task_id}}";
            var lbl = $('#lblstatus');
            var pgrbar = $('#progress-bar');
      
            get_task_info(task_id);
      
            function get_task_info(task_id) {
                $.ajax({
                    type: 'get',
                    url: '/analyzer/get_task_info/',
                    data: {'task_id': task_id},
                    success: function (data) {
                        lbl.html('');
                        if (data.state == 'PENDING') {
                            lbl.html('Please wait...');
                        }
                        else if (data.state == 'PROGRESS') {
                            //pgrbar.css('display', 'inline');
                            pgrbar.val(data.current);
                            lbl.html('Processed ' + data.result.current + ' out of ' + data.result.total);
                        }
                        else if(data.state == 'SUCCESS'){
                            //pgrbar.css('display', 'none');
                            lbl.html('Successfully Completed!');
                        }
                        
                        if (data.result != 'SUCCESS') {
                            setTimeout(function () {
                                get_task_info(task_id)
                            }, 500);
                        }
                    },
                    error: function (data) {
                        lbl.html("error!");
                    }
                });
            }
          </script>
        {% endif %}
  {% endif %}
 

</div>
{% endblock %}

