amqp==5.0.6
anyio==2.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.4.2
async-generator==1.10
atomicwrites==1.4.0
attrs==19.3.0
autobahn==21.3.1
Automat==20.2.0
azure-core==1.20.1
azure-storage-blob==12.10.0b1
azure-storage-file-datalake==12.5.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
bleach==3.3.0
bokeh==2.3.0
boto3==1.20.13
botocore==1.23.13
cachetools==4.2.4
celery==5.1.2
certifi==2020.6.20
cffi==1.14.4
channels==3.0.3
chardet==3.0.4
colorama==0.4.4
confuse==1.4.0
constantly==15.1.0
coverage==5.2
cron-descriptor==1.2.24
cryptography==3.4.7
cycler==0.10.0
daphne==3.0.1
decorator==4.4.2
defusedxml==0.6.0
Django==3.1.6
django-bootstrap-breadcrumbs==0.9.2
django-bootstrap-modal-forms==2.2.0
django-bootstrap-pagination==1.7.1
django-celery-beat==2.2.1
django-cleanup==5.2.0
django-extensions==3.1.0
django-fernet-fields==0.6
django-filter==2.2.0
django-model-utils==4.1.1
django-notifications-hq==1.6.0
django-simple-history==3.0.0
django-solo==2.0.0
djangorestframework==3.11.0
drf-api-tracking==1.8.0
dropbox==11.23.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
fastavro==1.4.7
google-api-core==2.2.2
google-api-python-client==2.29.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.2.1
google-cloud-storage==1.42.3
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
greenlet==1.1.0
gunicorn==20.1.0
html5lib==1.1
htmlmin==0.1.12
httplib2==0.20.2
hyperlink==21.0.0
hypothesis==5.20.2
idna==2.10
ImageHash==4.2.0
importlib-metadata==1.7.0
incremental==21.3.0
ipykernel==5.4.3
ipython==7.10.0
ipython-genutils==0.2.0
ipython-sql==0.4.0
ipywidgets==7.6.3
isodate==0.6.0
isort==5.7.0
jedi==0.15.2
Jinja2==2.11.3
joblib==1.0.1
jmespath==0.10.0
json-merge-patch==0.2
json5==0.9.5
jsonfield==3.1.0
jsonschema==3.2.0
kiwisolver==1.3.1
kombu==5.1.0
lazy-object-proxy==1.4.3
lockfile==0.12.2
lxml==4.6.2
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
matplotlib-inline==0.1.2
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mock==4.0.2
model-bakery==1.3.3
more-itertools==8.4.0
msal==1.15.0
msrest==0.6.21
multitasking==0.0.9
nbclassic==0.2.6
nbclient==0.5.2
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
numpy==1.19.0
oauthlib==3.1.0
openpyxl==3.0.9
packaging==20.4
pandas==1.3.4
pandocfilters==1.4.3
panel==0.11.1
param==1.10.1
parso==0.8.0
pep8==1.7.1
pexpect==4.8.0
phik==0.11.2
pickleshare==0.7.5
Pillow==8.1.0
pipdeptree==1.0.0
pipreqs==0.4.10
pluggy==0.13.1
ply==3.11
prettytable==0.7.2
prometheus-client==0.9.0
prompt-toolkit==2.0.10
psutil==5.7.2
psycopg2==2.9.1
psycopg2-binary==2.8.5
ptyprocess==0.7.0
py==1.9.0
py4j==0.10.9
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.20
pycryptodome==3.10.1
pyct==0.4.8
Pygments==2.8.0
PyJWT==2.3.0
pylint==2.6.0
pyodbc==4.0.30
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.16.0
pyspark==3.0.1
pytest==5.4.3
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-cov==2.10.0
python-crontab==2.5.1
pytest-doctestplus==0.7.0
pytest-filter-subpackage==0.1.1
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-daemon==2.1.2
python-dateutil==2.8.1
python-decouple==3.3
python-dotenv==0.14.0
python-editor==1.0.4
python-jsonrpc-server==0.3.4
python-language-server==0.31.10
python3-openid==3.1.0
pytz==2020.1
pytzdata==2019.3
pyviz-comms==2.0.1
PyWavelets==1.1.1
pyxlsb==1.0.9
PyYAML==5.3.1
pyzmq==22.0.3
protobuf==3.19.1
regex==2020.6.8
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
s3transfer==0.5.0
scikit-learn==0.24.1
scipy==1.6.1
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.15.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.2.2
soupsieve==2.2
stone==3.2.1
swapper==1.1.2.post1
SQLAlchemy==1.3.18
sqlparse==0.3.1
tangled-up-in-unicode==0.0.7
terminado==0.9.2
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
Twisted==21.2.0
txaio==21.2.1
typed-ast==1.4.2
typing-extensions==3.7.4.3
ujson==1.35
unittest-xml-reporting==3.0.2
uritemplate==4.1.1
urllib3==1.25.9
uuid==1.30
VerbalExpressions==0.0.2
vine==5.0.0
visions==0.6.0
voila==0.2.7
wcwidth==0.2.5
webdrivermanager==0.9.0
webencodings==0.5.1
websocket-client==1.1.0
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
yarg==0.1.9
yfinance==0.1.55
zipp==3.1.0
zope.interface==5.2.0
