{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'jobs/css/trigger_job.css' %}">

<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Trigger job</h5>
    </div>

    <div class="modal-body">
        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Execute</button>
    </div>

</form>
