<div class="container">
  <div class="row">
    <div class="col">
      <b>Minimum</b>
      <p>
        {{actual_column_profile.min}}
        <small>({{expected_column_profile.min}})</small>
      </p>
    </div>
    <div class="col">
      <b>Maximum</b>
      <p>
        {{actual_column_profile.max}}
        <small>({{expected_column_profile.max}})</small>
      </p>
      </div>
    <div class="col">
      <b>Uniqueness</b>
      <p>
        {{actual_column_profile.uniqueness}}
        <small>({{expected_column_profile.uniqueness}})</small>
      </p>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Datatype</b>
      <p>
        {{actual_column_profile.datatype}}
        <small>({{expected_column_profile.datatype}})</small>
      </p>
    </div>
    <div class="col">
      <b>Nullable</b>
      <p>
        {{actual_column_profile.nullable}}
        <small>({{expected_column_profile.nullable}})</small>
      </p>
      </div>
    <div class="col">
      <b>Order</b>
      <p>
        {{actual_column_profile.order}}
        <small>({{expected_column_profile.order}})</small>
      </p>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Hash sum</b>
      <p>
        {{actual_column_profile.hash_sum}}
        <small>({{expected_column_profile.hash_sum}})</small>
      </p>
    </div>
  </div>
</div>
