{% extends "main/manage.html" %}

{% block mainsection1 %} 
<div class="card"> 
    <h2>Manage Applications</h2>
    <div class= 'crud_menu'>
        <form method="POST" >
            <input type="button" onclick= "location.href='/saef/application/add/';"  name="Operation" value="Add Application" />
            {% if applications %}
                <ul>
                    {% for application in applications %}
                        <li> <a href="/saef/application/{{application.id}}/">{{ application.name }}</a>, Application Key : {{application.application_key}} </li>
                    {% endfor %}
                </ul>
            {% else %}    
                <p> There is no application. </p>
            {% endif%}
        </form>
    </div>
</div>
{% endblock %}

