<div class="card">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/2.1.15/go-debug.js"></script>
    <div id = "application-title"><h3>Application Name: {{application.name}} </h3></div>
    <div id="myDiagramDiv" style="height:250px; background-color: white;"> </div>
    <script>
        var $ = go.GraphObject.make;

        var myDiagram =
        $(go.Diagram, "myDiagramDiv",
            {
            "undoManager.isEnabled": true, // enable Ctrl-Z to undo and Ctrl-Y to redo
            layout: $(go.TreeLayout, // specify a Diagram.layout that arranges trees
                        { angle: 90, layerSpacing: 35 })
            });

        // the template we defined earlier
        myDiagram.nodeTemplate =
        $(go.Node, "Horizontal",
            { background: "#3e95cd" },
            $(go.TextBlock, "Default Text",
            { margin: 12, stroke: "white", font: "bold 16px sans-serif" },
            new go.Binding("text", "name"))
        );

        // define a Link template that routes orthogonally, with no arrowhead
        myDiagram.linkTemplate =
        $(go.Link,
            { routing: go.Link.Orthogonal, corner: 5 },
            $(go.Shape, { strokeWidth: 3, stroke: "#555" })); // the link shape

        var model = $(go.TreeModel);
        model.nodeDataArray =
        [
        { key: "1",              name: "{{application.name}}" },
        {% for job in jobs  %}
            {% if forloop.last %}
                { key: "{{forloop.counter|add:1}}", parent: "1", name: "{{job.name}}"}
            {% else %}
                { key: "{{forloop.counter|add:1}}", parent: "1", name: "{{job.name}}"},
            {% endif %}
        {% endfor %}
    
        ];
        myDiagram.model = model;
    </script>
</div>
