{% extends "main/manage.html" %} 
{% load static %} 
{% load utils %} 

{% block mainsection1 %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'saef/css/manage_columns.css' %}"
/>
<div class="card">
    {% if dataset_is_azure_blob_storage %}
        <h3>
            Manage Columns for Dataset <u>{{ dataset.dataset_name }}</u>
        </h3>
    {% else %}
        <h3>
            Manage Columns for Dataset <u>{{dataset.dataset_name}}</u> in table
            <u>{{dataset.dataset_extraction_table}}</u>
        </h3>
    {% endif %}
  <form action="" method="get" novalidate>
      {% csrf_token %}
      {{ formset.management_form }}
      <table>
        <thead>
            {% for form in formset.forms %}
                {% if forloop.first %}
                    {% for field in form.visible_fields %}
                        <th>{{ field.label_tag | capfirst }}</th>
                    {% endfor %}
                {% endif %}
        </thead>
        <tbody>
                <tr>
                    {% for field in form.visible_fields %}
                    {% if difference %}
                    <td 
                    class="{{ difference|get_dict:forloop.parentloop.counter0|get_dict:field.label|get_dict:'status'}}">
                    {% else %}
                    <td>
                    {% endif %}

                    {# Include the hidden fields in datasets form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                    </td>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      
    </table>
        {% if deleted %}
            <p><b>List of deleted columns</b></p>
            {% for key, values in deleted.items %}
            <div class="delete">
                <p> 
                    <b>Column name:</b> {{values|get_dict:'Column name' }}
                    <b>Data type:</b> {{values|get_dict:'Data type' }}
                    <b>Is null:</b> {{values|get_dict:'Is null' }}
                    were deleted positioned at index {{key}}
                </p>
            </div>
                
            {% endfor %}
        {% endif %}

     

        <input type="submit" formmethod="post" name = "Operation" value="Save">
        {% if extraction %}
            <input type="hidden" name="Extraction" value="true">
            <input type="submit" formmethod="post" name = "Operation" value="Undo">
        {% endif %}
        <input type="submit" formmethod="post" name = "Operation" value="Add">
        <input type="submit" formmethod="post" name = "Operation" value="Extract scheme">
        <input type="submit" formmethod="post" name = "Operation" value="Return">

  </form>
</div>
{% endblock %}
