{% extends "main/monitor.html" %}

{% load static %}
{% load lists.summary %}
{% load lists.operations %}
{% load charts.doughnut %}
{% load utils %}

{% block mainsection1 %}
    <div class="card">
        <div class="container">
            <nav class="navbar  navbar-expand-lg navbar-light ">
                <div class="btn-group mr-auto">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                        {{date_selected}}
                    </button>
                    <div class="dropdown-menu">
                        {% for key, value in date_options.items %}
                            <a class="dropdown-item" href="?{% url_append request 'date_option' key%}">{{key}} {{value | get_dict:'range'}}</a>
                        {% endfor %}
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6">
                    <h4>Applications Runs</h4>
                    {% chart_doughnut application_sessions "application_doughnut_chart" %}
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6">
                    <h4>Jobs Runs</h4>
                    {% chart_doughnut job_sessions "job_doughnut_chart" %}
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6">
                    <h4>Datasets Runs</h4>
                    {% chart_doughnut dataset_sessions "dataset_doughnut_chart" %}
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
    </div>
{% endblock mainsection1 %}

{% block sidesection2 %}
  <div class="card">
    <h3>Summary</h3>
    <div class="list-summary" >
      {% list_summary -1 -1 %}
    </div>
  </div>
{% endblock %}

{% block sidesection3 %} 
  <div class="card">
    <h3>Operations</h3>
    <div class="list-operations" >
      {% list_operations -1 -1 5 %}
    </div>
  </div>
{% endblock %}

