{% extends "saef/base.html" %}
{% load charts.hierarchy_application %}
{% load charts.flow_job %}

{% block mainsection1 %} 
<div class="card">
  <h3> Understand the metamodel </h3>
  <p>
      A user can have maximum 5 <strong> Application Tokens </strong>.
  </p>
  <p>One <strong>Application Token</strong> can be assigned to multiple <strong>Applications</strong> </p>

  <p>One <strong>Application</strong> can have multiple <strong>Jobs</strong></p>
  <p> Here is an example Application </p>
  {% hierarchy_application 2  %}

  <p>One <strong>Job</strong> includes multiple <strong>Datasets</strong>. These datasets can be ordered by sequence number. </p>
  <p> Here is an example Job and datasets </p>
  {% flow_job 1  %}

  <p>One <strong>Dataset</strong> contains metadata about <strong>Columns </strong> and <strong> Constraints</strong> </p>
  <p> A <strong>Connection</strong> can be defined for a <strong>Dataset</strong> </p>

</div>

{% endblock %}

{% block sidesection1 %} 
<div class="card"> 
  <h4> Choose to manage</h4>
  <div class="vertical-menu">
    <a href="/saef/application_token">Application Token</a> <br>
    <a href="/saef/application" >Application</a> <br>
    <a href="/saef/job">Job</a> <br>
    <a href="/saef/connection">Connection</a> <br>
    <a href="/saef/dataset">Dataset</a> <br>
  </div>
</div>
{% endblock %}