{% extends "users/authentication/authentication_base.html" %}

{% block title %}Register{% endblock title %}

{% block form_fields %}
    {% for group in form.get_grouped_fields %}
        <div class="row">
            {% for field in group %}
                <div class="col">
                    <div class="form-group{% if field.errors %} invalid{% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock form_fields%}

{% block form_submit %}
    <button class="btn btn-outline-primary" type="submit">Sign Up</button>
{% endblock form_submit %}

{% block redirect %}
    <div class="mt-4 text-center">
        Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
    </div>
{% endblock redirect %}