<script type="text/javascript">
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var chart_data = {{chart_data|safe}};
        var color_map = {{color_map|safe}};
        var width = {{width|safe}};

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task ID');
        data.addColumn('string', 'Task Name');
        data.addColumn('string', 'Resource');
        data.addColumn('date', 'Start Date');
        data.addColumn('date', 'End Date');
        data.addColumn('number', 'Duration');
        data.addColumn('number', 'Percent Complete');
        data.addColumn('string', 'Dependencies');
        
        for (i = 0; i < chart_data.length; i++)
        {
            data.addRow([chart_data[i][0], 
                        chart_data[i][1], 
                        chart_data[i][2], 
                        new Date(chart_data[i][3]*1000), 
                        new Date(chart_data[i][4]*1000), 
                        null, 
                        chart_data[i][6], 
                        null]);
        }

        var options = {
            width: width,
            gantt: {
                sortTasks: false,
                trackHeight: 30,
                palette: color_map
            }
        };

        var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart_div"></div>