{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'saef/css/ggl-tooltip.css' %}">

<script type="text/javascript">
    google.charts.load("current", {packages:["timeline"]});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var chart_data = {{chart_data|safe}};
        var color_map = {{color_map|safe}};
        var width = {{width|safe}};

        var data = new google.visualization.DataTable();

        data.addColumn({ type: 'string', id: 'Term' });
        data.addColumn({ type: 'string', id: 'Name' });
        data.addColumn({ type: 'string', role: 'tooltip' });
        data.addColumn({ type: 'date', id: 'Start' });
        data.addColumn({ type: 'date', id: 'End' });

        for (i = 0; i < chart_data.length; i++)
        {
            data.addRow([chart_data[i][0], 
                        chart_data[i][1], 
                        chart_data[i][4], 
                        new Date(chart_data[i][2]*1000), 
                        new Date(chart_data[i][3]*1000)]);
        }

        var dateFormat = new google.visualization.DateFormat({
            pattern: 'h:mm a'
        });

        for (var i = 0; i < data.getNumberOfRows(); i++) {
            var tooltip = '<div class="ggl-tooltip">';
            tooltip += '<span>' + data.getValue(i, 1) + '</span></div>';
            tooltip += '<div class="ggl-tooltip"><span></span>';
            tooltip += 'Status:' + chart_data[i][4] + '<br>';
            tooltip += 'Degree of change:' + chart_data[i][5] + '</div>';

            data.setValue(i, 2, tooltip);
        }

        var options = {
            tooltip: {
            isHtml: true
        },
            width: width,
            colors: color_map
        };

        var chart = new google.visualization.Timeline(document.getElementById('chart_div'));
        
        chart.draw(data, options);
}
</script>
<div id="chart_div"></div>