{% extends "main/monitor.html" %}

{% load static %}
{% load charts.gantt %} 
{% load utils %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Application runs" "application_session" %}
    {% breadcrumb metadata.session_name "application_session" %}
{% endblock %}

{% block mainsection1 %} 

<!-- Clipboard tooltip -->
<script type="text/javascript" src="{% static 'saef/js/tooltipCopy.js' %}"></script>

<div class="card" style="overflow: auto;">
  {% if metadata %}
    <div class="row row-cols-2">
      <div class="col col-lg-4">
        <h4>Run info</h4>
        <div class="row" style="border-bottom: 1px solid;">
          <div class="col-sm description text-secondary">
            <b>Status</b>
          </div>
          <div class="col-sm result">
            <i
              class="{{metadata.status_type | status_icon}}"
              style="color: {{metadata.status_type | status_color}};"
              aria-hidden="true"
            >
            </i>
            {{metadata.get_status_label}}
          </div>
        </div>
        <div class="row" style="border-bottom: 1px solid;">
          <div class="col-sm description text-secondary">
            <b>Duration</b>
          </div>
          <div class="col-sm result">
            {{metadata.actual_execution_time}}
          </div>
        </div>
        <div class="row" style="border-bottom: 1px solid;">
          <div class="col-sm description text-secondary">
            <b>Expected</b>
          </div>
          <div class="col-sm result">
            {{metadata.expected_execution_time}}
          </div>
        </div>
        <div class="row" style="border-bottom: 1px solid;">
          <div class="col-sm description text-secondary">
            <b>Started</b>
          </div>
          <div class="col-sm result">
            {{metadata.session_created}}
          </div>
        </div>
        <div class="row" style="border-bottom: 1px solid;">
          <div class="col-sm description text-secondary">
            <b>Ended</b>
          </div>
          <div class="col-sm result">
            {{metadata.session_ended}}
          </div>
        </div>
        <div class="row" style="border-bottom: 1px solid;">
          <div class="col-sm description text-secondary">
            <b>Progress</b>
          </div>
          <div class="col-sm result">
            {{succeeded_jobs}} of {{total_jobs}} jobs succeeded
          </div>
        </div>
        <div class="row" style="border-bottom: 1px solid;">
          <div class="col-sm description text-secondary">
            <b>Execution ID</b>
          </div>
          <div class="col-sm result">
            <p>{{metadata.application_session.execution_id}}
              <i class="fa fa-clipboard" 
              aria-hidden="true" 
              style="cursor: pointer;" 
              data-clipboard-text={{metadata.application_session.execution_id}}></i></p>
          </div>
        </div>
        <h4 class="mt-4">Recent application runs</h4>
        <div class="list-group list-group-flush">
          {% for metadata in recent_application_sessions_metadata %}
          <li class="list-group-item">
            <a
              href="{% url 'application_session' metadata.pk%}"
              style="display: block; text-decoration: none;"
            >
              {{metadata.application_session.create_timestamp}}
            </a>
          </li>
          {% endfor %}
        </div>
      </div>
      <div class="col-8">
      {% if job_sessions_metadata|length > 0 %}
      <h4>Progress detail for job sessions</h4>
        <table class="table table-sm table-striped table-bordered">
          <thead>
            <tr>
        <th scope="col">
          <a href="?{% url_append request 'order_by' 'name' '-' %}" style="color: inherit;">Job</a>
          {% sort_direction request 'name'%}
          </th>
          <th scope="col">
          <a href="?{% url_append request 'order_by' 'timestamp' '-' %}" style="color: inherit;">Run start</a>
          {% sort_direction request 'timestamp'%}
          </th>
          <th scope="col">
          <a href="?{% url_append request 'order_by' 'execution_time' '-' %}" style="color: inherit;">Duration</a>
          {% sort_direction request 'execution_time'%}
          </th>
          <th scope="col">
          <a href="?{% url_append request 'order_by' 'status_type' '-' %}" style="color: inherit;">Status</a>
          {% sort_direction request 'status_type'%}
          </th>
            </tr>
          </thead>
          <tbody>
            {% for metadata in job_sessions_metadata %}
            <tr>
        <td>
          <a href="{% url 'job_session' metadata.pk%}">
            {{metadata.session_name}}
          </a>
        </td>
              <td>{{metadata.job_session.create_timestamp }}</td>
              <td>{{metadata.actual_execution_time}}</td>
              <td>
          <i
          class="{{metadata.status_type | status_icon}}"
          style="color: {{metadata.status_type | status_color}};"
          aria-hidden="true"
          >
          </i>
          {{metadata.get_status_label}}
        </td>
            </tr>

            {% endfor %}
          </tbody>
      </table>
      <div class="gantt-chart mt-4" style="overflow-x: scroll;">
          {% chart_gantt_sessions job_sessions_metadata %}
      </div>
    {% else %}
      <h4>No job sessions found</h4>
    {% endif %}
      </div>
    </div>
    {% else %}
      <h4>Application session not found</h4>
    {% endif %}
</div>
{% endblock %} 
