{% extends "main/manage.html" %}

{% block mainsection1 %} 
<div class="card"> 
  <h3> Manage Constraint for Dataset {{dataset.dataset_name}} </h3>
  <form action="" method="get" novalidate>
      {% csrf_token %}
      {{ formset.management_form }}
      <table>
        <thead>
            {% for form in formset.forms %}
                {% if forloop.first %}
                    {% for field in form.visible_fields %}
                        <th>{{ field.label_tag | capfirst }}</th>
                    {% endfor %}
                {% endif %}
        </thead>
        <tbody>
                <tr>
                    {% for field in form.visible_fields %}
                    <td>
                      {# Include the hidden fields in the form #}
                      {% if forloop.first %}
                          {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                          {% endfor %}
                      {% endif %}
                      {{ field.errors.as_ul }}
                      {{ field }}
                  </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
      <input type="submit" formmethod="post" name = "Operation" value="Save">
      <input type="submit" formmethod="post" name = "Operation" value="Add">
      <input type="submit" formmethod="post" name = "Operation" value="Return">
      {% if dataset.dataset_access_method == "TABLE" and not extraction %}
        <input type="submit" formmethod="post" name = "Operation" value="Extract">
      {% endif %}
      {% if extraction %}
          <input type="hidden" name="Extraction" value="true">
          <input type="submit" formmethod="post" name = "Operation" value="Undo">
      {% endif %}
  </form>

</div>
{% endblock %}

