{% extends "saef/base.html" %} 
{% load crispy_forms_tags %} 
{% block mainsection1 %}
<div class="content-section ml-4">
  <legend class="border-bottom mb-4">Adminstration user panel</legend>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date joined</th>
        <th scope="col">Fullname</th>
        <th scope="col">Email</th>
        <th scope="col">Organization</th>
        <th scope="col">Phone</th>
        <th scope="col">Activate/Deactivate</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users_data %}
          <tr>
              <td>{{ user.date_joined }}</td>
              <td>{{ user.user }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.user.organization }}</td>
              <td>{{ user.user.phone }}</td>
              <td>
                  {% if user.is_active %}
                      <a   href="{% url 'deactivate_user' user_id=user.id %}" class="btn btn-sm btn-danger">Deactivate</a>
                      {% else %}
                      <a href="{% url 'activate_user' user_id=user.id %}" class="btn btn-sm btn-success">Activate</a>
                  {% endif %}
              </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock mainsection1 %}

